header {
    height: 30%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    margin-bottom: 100px;
}

#weather {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 10px;
}

body {
    background-image: url(weatherImage.jpg);
    background-size: cover;
}
#City {
    display: block;
    width: 30%;
    background-color: transparent;
    text-align: center;
    align-self: center;
    font-size: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#Btn {
    display: block;
    width: 30%;
    height: 75px;
    align-self: center;
    font-size: 20px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: transparent;
    background-color: antiquewhite;
    border: 2px solid black;
}